<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Ресторан</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu_style.css}"/>
</head>
<body>
<table>
    <tr>
        <th><a href="/api/users/index3">Главная</a></th>
    </tr>
</table>

<div id="header">
    <h1>Ресторан</h1>
</div>
<td><input type="button" value="Добавить" onclick="window.location.href = '/api/users/addUser'" /></td>
<table>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Роль</th>
        <th>Баланс</th>
        <th>Статус</th>
    </tr>
    <th:block th:each="us : ${users}">
        <tr>
            <td th:text="${us.id}"></td>
            <td th:text="${us.name}"></td>
            <td th:text="${us.surname}"></td>
            <td th:text="${us.phone}"></td>
            <td th:text="${us.email}"></td>
            <td th:text="${us.role}"></td>
            <td th:text="${us.balance}"></td>
            <td th:text="${us.status}"></td>
           <td><form th:action="@{/api/users/updateUser}" method="get">
               <input type="hidden" th:name="usId" th:value="${us.id}"/>
               <input type="submit" value="Обновить"/>
           </form></td>
            <td><form th:action="@{/api/users/changeUserStatus}" method="get">
                <input type="hidden" th:name="usId" th:value="${us.id}"/>
                <input type="submit" value="Изменить статус"/>
            </form></td>
            <td ></td>
        </tr>
    </th:block>
</table>
<span th:value="${session.user}"></span></a>
</body>
</html>

