<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Ресторан</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<table>
    <tr>
        <th><a href="index">Главная</a></th>
        <th><a href="menu">Меню</a></th>
        <th><a href="basket">Корзина (<span th:text="${session.basket_quantity}"></span></a>)</th>
    </tr>
</table>

<div id="header">
    <h1>Ресторан</h1>
    <p class="descript">Что не делается - все к лучшему</p>
</div>
<p>Hello, <span th:text="${session.username} ?: 'Guest'"></span>.</p>

<!--<form action="#" th:action="@{/api/v1/students}" method="get">-->
<!--    <input type="submit" />-->
<!--</form>-->

</body>
</html>