<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Ресторан</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<table>
    <tr>
        <th><a href="/api/users/all-users">Список людей</a></th>
        <th><a href="/api/dishes/all-dishes">Список блюд</a></th>
        <th><a href="/api/orders/all-orders">Список заказов(<span th:text="${session.notConfirmOrders}"></span></a>)</a></th>
        <th><a href="/api/users/logout">Выйти</a></th>

    </tr>
</table>

<div id="header">
    <h1>Ресторан</h1>
</div>
<p align="right">Hello, <span th:text="${session.name} ?: 'Guest'"></span>.</p>
<span th:value="${session.user}"></span></a>
</form>

</body>
</html>