<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
<!--    <title>Ресторан</title>-->
    У Вас нет доступа к этой странице. Войдите или зарегистрируйтесь
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<table>
    <tr>
        <th><a href="/api/users/login">Войти</a></th>
        <th><a href="/api/users/registration">Регистрация</a></th>

    </tr>
</table>

<!--<div id="header">-->
<!--    <h1>Ресторан</h1>-->
<!--    <p class="descript">Что не делается - все к лучшему</p>-->
<!--</div>-->

<!--<form action="#" th:action="@{/}" method="get">-->
<!--    <input type="submit" />-->
<!--</form>-->

</body>
</html>